<section class="pipeline-summary">
  @if (groups().length > 0) {
    <gbt-stepper
      class="pipeline-summary__stepper"
      [steps]="steps()"
      [activeIndex]="activeStageIndex()"
      [interactive]="true"
      [selectedIndex]="selectedIndex()"
      (selectedIndexChange)="onStepSelected($event)"
      [completedLabel]="'common.done' | transloco"
      [errorLabel]="'pipelines.inError' | transloco"
      [selectedLabel]="'pipelines.selected' | transloco"
    />
    <gbt-job-graph
      class="pipeline-summary__graph"
      [stages]="graphStages()"
      [statusLabels]="statusLabels"
      [needsLabel]="'pipelines.needs' | transloco"
      [ariaLabel]="'pipelines.jobsOf' | transloco"
      (jobSelected)="jobOpened.emit($event)"
    />
  } @else {
    <p class="pipeline-summary__empty">{{ 'pipelines.noJob' | transloco }}</p>
  }

  @if (selectedGroup(); as group) {
    <section class="pipeline-summary__stage-jobs">
      <h3>{{ 'pipelines.stage' | transloco: { name: group.name } }}</h3>
      <ul>
        @for (job of group.jobs; track job.id) {
          <li>
            <a [routerLink]="jobLink(job.id)" class="pipeline-summary__job-link">
              <gbt-job-status [status]="glyph(job.status)" [label]="statusLabels[job.status]" />
              <span class="pipeline-summary__job-name">{{ job.name }}</span>
              <span class="pipeline-summary__job-duration">{{ duration(job) }}</span>
            </a>
          </li>
        }
      </ul>
    </section>
  }
</section>
